.edit-user-name {
  background-color: transparent;
  padding: 10px;
  padding-bottom: 20px;
  max-width: 300px;
  height: 350px;
  margin: 0.1px auto;
  margin-bottom: 40px;
  text-align: center;
}

.edit-user-name h2 {
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 7px;
  font-weight: bold;
  color: white;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: black;
  margin-left: 0%;
  border-radius: 0;
}

.error-message {
  color: red;
  margin: 10px 0;
}

.success-message {
  color: #00bc77;
  margin: 10px 0;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.save-button,
.cancel-button {
  background-color: #00bc77;
  color: white;
  padding: 10px 15px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.save-button:hover,
.cancel-button:hover {
  background-color: #009e5f;
}

.cancel-button {
  background-color: #ccc;
}

.cancel-button:hover {
  background-color: #aaa;
}
