.home {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .home {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .home {
    padding: 5px;
  }
}
