.welcome {
    text-align: center;
    color: white;
    margin-bottom: 2rem;
  }
  
  .welcome h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .edit-button,
  .save-button,
  .cancel-button {
    background-color: #00bc77;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
  }
  
  .edit-button:hover,
  .save-button:hover,
  .cancel-button:hover {
    background-color: #009e5f;
  }
  
  .edit-user form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .edit-user input {
    margin-bottom: 1rem;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
  }
  