.hero {
  position: relative;
  width: 100%;
  height: 444px;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/bank-tree.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.banner-content {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  background-color: white;
  padding: 20px;
  width: 300px;
  height: 200px;
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.banner-subtitle {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 10px;
}

.banner-txt {
  font-size: 16.5px;
  margin: 0;
}



/* tablettes (max-width: 768px) */
@media (max-width: 768px) {
  .hero {
    height: 300px; 
  }

  .banner-content {
    width: 250px; 
    height: auto; 
    font-size: 14px; 
    right: 2%; 
    padding: 15px;
  }

  .banner-subtitle {
    font-size: 18px; 
  }

  .banner-txt {
    font-size: 14px; 
  }
}

/* smartphones (max-width: 480px) */
@media (max-width: 480px) {
  .hero {
    height: 250px; 
  }

  .banner-content {
    width: 200px; 
    padding: 10px; 
    font-size: 12px; 
  }

  .banner-subtitle {
    font-size: 16px; 
  }

  .banner-txt {
    font-size: 12px; 
  }
}